@use "@picocss/pico/scss/pico";
body,
body > main {
	padding-block: 0;
}
body > main > section {
	margin: 0;
	gap: var(--pico-spacing);
}
body {
	display: grid;
	grid-template-areas:
		"h h"
		"b b";
	grid-template-rows: max-content auto;
}
#title {
	align-self: center;
	grid-area: h;
	display: grid;
	grid-template-columns: 4fr 1fr;
	gap: calc(var(--pico-spacing) / 1.5);
	padding: var(--pico-spacing);
	.title {
		margin: 0;
		text-align: left;
		font-weight: 400;
	}
	.tools {
		display: grid;
		grid-template-columns: auto auto;
		gap: calc(var(--pico-spacing) / 1.5);
		align-items: center;
		justify-content: end;
	}
}
main {
	overflow: hidden;
	grid-area: b;
	padding: 0 var(--pico-spacing);
}
.page {
	overflow: auto;
	gap: var(--pico-spacing);
}
/* width */
::-webkit-scrollbar {
	width: .3rem;
	height: .3rem;
}
/* Track */
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	border-radius: 1rem;
}
::-webkit-scrollbar-track {
	background: #cccccc;
}
/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
